#game {
    background-color: #353535;
}

.btn {
    display: block;
    margin: 10px;
    height: 110px;
    width: 60px;
}

#gameSection {
    width: 100%;
    height: auto;
}

#p1btns, #p2btns, #game {
    margin: 0px;
    padding: 0px;
    float: left;
}